.vehicleTypeWrapper {
  margin-top: 48px;
}

.equipmentParagraph {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-top: 32px;
  position: relative;
}

.equipmentParagraph::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #dadde1;
  bottom: -24px;
  left: 0;
}

.equipmentList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.equipmentListItem {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border 0.3s, background-color 0.3s;
}

.equipmentLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 16px 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.inputEquipment {
  display: none;
}

.selected {
  border: 1px solid #e44848;
  border-radius: 12px;
}

.accessoriesIcon {
  width: 32px;
  min-height: 32px;
  color: #101828;
}
