.homePageSection {
  height: 696px;
  background: url('../../images/homePage/homePageBackgroudDesktop.jpg')
    no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .homePageSection {
    background-image: url('../../images/homePage/homePageBackgroudDesktop@2x.jpg');
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  width: 574px;
}

.homePageTitle {
  font-size: 48px;
  line-height: 0.67;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.homePageParagraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.homePageBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  color: #ffffff;
  background-color: #e44848;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.homePageBtn:hover,
.homePageBtn:focus {
  background-color: #d84343;
}
